<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <title ng-bind="洗洗睡">洗洗睡</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta property="og:title" content="標題" />
        <meta property="og:description" content="內容" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="url" />
        <meta property="og:image" content="url" />
        <meta property="g2m:apiToken" content="" />
        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/index_chat.css">
        <link rel="shortcut icon" href="/img/logo.ico">
        <base href="/" />
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body class="">
        
        <section class="landing-page" id="landing-page">
            <section class="splash">
                <div class="content-wrapper">
                    <header>
                        <img class="logo-header" src="http://fbselector.exma-square.co/img/logo.png" alt="">
                        <h1>魯蛇出頭天</h1>
                    </header>
                    <section class="content">
                        <!-- <video width="500" autoplay="autoplay" poster="/assets/images/landing-page/splash-image.gif" loop>
                            <source src="/assets/video/splash-video.webm" type="video/webm">
                            <source src="/assets/video/splash-video.mp4" type="video/mp4">
                        </video> -->
                        <p class="features">
                        照片？照騙？影音串流新選擇
                        </p>
                        <div class="button-wrapper">
                            <a href="/start" class="btn btn-primary" analytics="click, button, home.start">開始視訊</a>
                        </div>
                        <a href="/scheduling" class="btn btn-default " analytics="click, button, home.schedule">評分表</a>
                        {% if !user %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".login-page">登入/註冊</button>
                        {% else %}
                        <button type="button" class="btn btn-primary logout">{{name}} 登出</button>
                        {% endif %}
                        <div class="modal fade login-page" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form class="form-signin login-fuck" action="login" method="post">
                                        <h2 class="form-signin-heading">請登入</h2>
                                        <label for="inputName" class="sr-only">電子信箱</label>
                                        <input type="email" name="email" class="form-control" placeholder="電子信箱" required="" autofocus="">
                                        <label for="inputPassword" class="sr-only">密碼</label>
                                        <input type="password" name="password" class="form-control" placeholder="密碼" required="">
                                        <br>
                                        <button class="btn btn-lg btn-primary btn-block" type="submit">登入</button>
                                        <a class="btn btn-lg btn-success btn-block signup-btn">註冊</a>
                                    </form>
                                    <form class="form-signin signup-page" action="/users" method="post">
                                        <h2 class="form-signin-heading">請註冊</h2>
                                        <label for="inputName" class="sr-only">暱稱</label>
                                        <input type="text" name="name" class="form-control" placeholder="暱稱" required="" autofocus="">
                                        <label class="radio-inline">
                                          <input type="radio" name="sex" value="boy" checked=""> 男生
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="sex" value="girl"> 女生
                                        </label>
                                        <label for="inputName" class="sr-only">電子信箱</label>
                                        <input type="email" name="email" class="form-control" placeholder="電子信箱" required="" autofocus="">
                                        <label for="inputPassword" class="sr-only">密碼</label>
                                        <input type="password" name="password" class="form-control" placeholder="密碼" required="">
                                        <input type="text" name="fb" class="form-control" placeholder="FB url" required="">
                                        <input type="text" name="line" class="form-control" placeholder="line ID" required="">
                                        <br>
                                        <button class="btn btn-lg btn-primary btn-block" type="submit">送出</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- <div class="learn-more">
                        <i class="icon-hint icon-arrow-down"></i>
                        了解更多
                        <i class="icon-hint icon-arrow-down"></i>
                    </div> -->
                </div>
            </section>
            <section class="how-it-works">
                <div class="inner">
                    <h2 data-200-bottom-center="opacity: 0; marginTop: -5%;" data-center-center="opacity: 1; marginTop: 0%;">
                    在幾秒鐘後開始</h2>
                    <div class="steps">
                        <div class="step" data-200-bottom-center="opacity: 0; marginTop: -5%;" data-center-center="opacity: 1; marginTop: 0%;">
                            <h2>允許 要求使用麥克風及相機</h2>
                            <img src="http://fs1.cue.social/upload/ftp/blogger/images/22.png" height="110" alt="" />
                            <p>點擊“開始視訊”立即配對。</p>
                        </div>
                        <div class="step" data-150-bottom-center="opacity: 0;marginTop: -10%;" data-center-center="opacity: 1; marginTop: 0%;">
                            <h2>貼上ID 或 隨機配對</h2>
                            <img src="http://fs1.cue.social/upload/ftp/blogger/images/couple35.svg" width="110" height="110" alt="" />
                            <p>每個視訊都擁有獨一無二的ID。您可以通過輸入或系統隨機配對進行視訊。</p>
                        </div>
                        <div class="step" data-100-bottom-center="opacity: 0;marginTop: -10%;" data-center-center="opacity: 1; marginTop: 0%;">
                            <h2>就選他（她）了!</h2>
                            <img src="https://free.gotomeeting.com/assets/images/landing-page/section-how-it-works-illustration-03.svg" width="110" height="110" alt="">
                            <p>選到你爽，但評分標準由對方決定。</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="share-your-work">
                <div class="inner">
                    <div class="media">
                        <div class="img-ext">
                            <img src="http://fs1.cue.social/upload/ftp/blogger/images/contact.png" width="340" height="236" data-100-bottom-center="opacity: 0;marginTop: -5%;" data--50-center-center="opacity: 1; marginTop: 2%;" />
                        </div>
                        <div class="text">
                            <h2 data-100-bottom-center="opacity: 0;" data-center-center="opacity: 1;"><s>交配</s>交換彼此聯絡資訊</h2>
                            <p data-100-bottom-center="opacity: 0;" data-center-center="opacity: 1;">只需輕輕一點即可交換聯絡資訊（但是不是假資料時間不夠來不及驗證）</p>
                            <div class="button-wrapper">
                                <a href="/start" class="btn btn-primary" analytics="click, button, home.start">進行視訊</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="testimonials">
                <div class="inner">
                    <h2 data-200-bottom-center="opacity: 0; marginTop: -5%;" data-center-center="opacity: 1; marginTop: 0%;">
                    洗洗睡團隊
                    </h2>
                    <ul>
                        <li data-200-bottom-center="opacity: 0;" data-center-center="opacity: 1;">
                            <div class="img">
                                <img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10805728_1038360966190069_6017786568153332670_n.jpg?oh=5774eea683fe7a99acb1bbe69ac576c5&oe=55695F3D" width="60" height="60" />
                            </div>
                            <div class="text">
                                <p>Citrix GoToMeeting Free 的共享功能非常棒，非常适合用来召开演示和故障排除会议。</p>
                                <p>– Christopher Null · PC World</i>
                                </p>
                            </div>
                        </li>
                        <li data-200-bottom-center="opacity: 0;" data-center-center="opacity: 1;">
                            <div class="img">
                                <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10413434_877763895576407_9099161578711107770_n.jpg?oh=7631e36961d842af814e2bc1b5e18d0d&oe=5557F5CC&__gda__=1433224005_22fb8f89f7b6d214fd7fbf6b6d4bc2cc" width="60" height="60" />
                            </div>
                            <div class="text">
                                <p>如果贵组织不允许您在计算机上安装任何软件，可以首先考虑使用 GoToMeeting Free。</p>
                                <p>– Yannis Nakos <i class="icon-twitter"></i>
                                </p>
                            </div>
                        </li>
                        <li data-200-bottom-center="opacity: 0; marginTop: -5%;" data-center-center="opacity: 1; marginTop: 0%;">
                            <div class="img">
                                <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/73012_467283212320_6695594_n.jpg?oh=4508ddb622b26d34d491d2a399b34e8b&oe=555FBCC2&__gda__=1432858079_93552f579dd8c336fa560fe45f214f41" width="60" height="60" />
                            </div>
                            <div class="text">
                                <p>太简单了！GoToMeeting Free 太棒了！我原本以为所有视频会议软件都很复杂。</p>
                                <p>– Claire Nichols <i class="icon-facebook"></i>
                                </p>
                            </div>
                        </li>
                        <li data-200-bottom-center="opacity: 0; marginTop: -5%;" data-center-center="opacity: 1; marginTop: 0%;">
                            <div class="img">
                                <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10150611_502675543170732_731566879_n.jpg?oh=30dd41843bb647ba7f3c9befede38048&oe=555058F6&__gda__=1431230297_42cc493481c74503f77f292eebbc96d8" width="60" height="60" />
                            </div>
                            <div class="text">
                                <p>太棒了！GoToMeeting 现在有了一款简洁的免费版本。</p>
                                <p>– Cultivate Now <i class="icon-twitter"></i>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="follow-our-blog">
                <div class="inner">
                    <h2>關注Node.js Party</h2>
                    <p>
                    Node.js Party，我們也會經常發佈新活動消息。
                    <br/> 敬請關注最新消息和社群平台。
                    </p>
                    <a href="https://www.facebook.com/groups/node.js.tw/?fref=ts" class="btn btn-default" analytics="click, button, home.blog">社群平台</a>
                </div>
            </section>
            <section class="landing-footer">
                <div class="inner">
                    <p>©2015 洗洗睡. All rights reserved.</p>
                </div>
            </section>
        </section>
    </body>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('.signup-btn').click(function(){
            $('.login-fuck').hide();
            $('.signup-page').show();
        });
        $(".logout").click(function(){
            location.href = '/logout';
        });
    </script>
</html>