<html>
	<head>
		<title>隨機配對</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" href="/img/logo.ico">
	</head>
	<body>
		<div class="chat">
			<div class="left-chat">
				<div class="chat-title">
					<h2>自己</h2>
				</div>
				<div class="chat-body">
					<video id="my-video" autoplay></video>
				</div>
				<div class="chat-footer">

				</div>
			</div>
			<div class="right-chat">
				<div class="chat-title">
					<h2>對方</h2>
				</div>
				<div class="chat-body">
					<video id="their-video" autoplay></video>
				</div>
				<div class="chat-footer"></div>
			</div>
		</div>
		<div class="select-box">
			<div id="like" data-toggle="tooltip" data-placement="bottom" title="我覺得很喜翻"><a href="./"></a></div>
			<div id="unlike" data-toggle="tooltip" data-placement="bottom" title="我覺得不喜翻"><a href="./"></a></div>
			<div id="bad" data-toggle="tooltip" data-placement="bottom" title="我要檢舉你！"></div>
			<div id="back" data-toggle="tooltip" data-placement="bottom" title="返回首頁"><a href="./"></a></div>
		</div>
		<!-- <h1>Demo</h1>

		<div id="info">
			<div>
				<span>你的ID:</span>
				<span id="myId"></span>
			</div>
			<div>
				<span>對方ID:</span>
				<input type="text" id="theirId" />
			</div>
			<button id="btn-connect" type="button">連線!</button>
		</div>

		<div>
			<video id="my-video" autoplay style="width: 45%;transform: rotateY(180deg);"></video>
			<video id="their-video" autoplay style="width: 45%;transform: rotateY(180deg);"></video>
		</div>
		<div class="cover">
			<p>&#8743;</p>
			<p>請點擊允許，這樣才可以進行配對</p>
		</div>-->
		<div class="cover">
			<p>&#8743;</p>
			<p>請點擊允許，這樣才可以進行配對</p>
		</div>
	</body>
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
	<script src="/js/script.js"></script>
</html>



