html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
    margin: 0;
  /*overflow: hidden;*/
  /*min-width: 800px;*/
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{

}
.cover{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  line-height: 60px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.cover>p{
  font-size: 40px;
  margin: 0;
}
#their-video, #my-video{
  transform: rotateY(180deg);
  background: url('/img/loading.gif') center center;
  background-color: #000;
  width: 90%;
}
.clear{
  clear: both;
}
.chat > div {
  float: left;
  height: 100%;
}
/*.chat > .center-line{
  width: 1%;
  height: 100%;
}*/
.select-box{
  display: none;
  position: fixed;
bottom: 0px;
width: 100%;
padding: 25px 0;
/* height: 190px; */
padding-top: 10px;
background-color: rgba(74,17,174,.5);
z-index: 10;
text-align: center;
}
.select-box > div{
  margin:0 5%;
}
.select-box > div:hover{
  -moz-box-shadow: 2px 2px 22px #3d3d3d;
-webkit-box-shadow: 2px 2px 22px #3d3d3d;
box-shadow: 2px 2px 22px #3d3d3d;

}
#like{
  background: url(/img/like.jpg);
  background-size: 200%;
  background-position-y: -20px;
  border-radius: 75px 75px 75px 75px;
-moz-border-radius: 75px 75px 75px 75px;
-webkit-border-radius: 75px 75px 75px 75px;

}
#unlike{
  background: url(/img/like.jpg);
  background-size: 200%;
  background-position-x: 147px;
  background-position-y: -20px;
  border-radius: 75px 75px 75px 75px;
-moz-border-radius: 75px 75px 75px 75px;
-webkit-border-radius: 75px 75px 75px 75px;
}
#back{
  background: url(/img/back.png);
  background-size: 100%;
  /*background-position-x: 147px;
  background-position-y: -20px;*/
  border-radius: 75px 75px 75px 75px;
-moz-border-radius: 75px 75px 75px 75px;
-webkit-border-radius: 75px 75px 75px 75px;
}
.select-box > div a{
  width:10%;
  height:75%;
  display: block;
}
#bad{
  background: url(/img/bad.png);
  background-size: 100%;
  border-radius: 75px 75px 75px 75px;
-moz-border-radius: 75px 75px 75px 75px;
-webkit-border-radius: 75px 75px 75px 75px;
}
.select-box > div:hover{

  cursor: pointer;
}
.select-box > div{
  display: inline-block;
  width: 150px;
  height: 150px;
}
.chat > .left-chat{
  background: #47a3da;
  width: 50%;
  outline: 1px solid #47a3da;
}
.chat > .right-chat{
  outline: 1px solid #fff;
  width: 50%;
  background: #fd6a62;
}
.chat-body {
  text-align: center;
}
.chat-title h2 {
padding: 20px;
margin: 0 auto;
text-align: center;
color: #fff;
text-shadow:-1px 1px 5px #000000;
font-size: 25px;
}
.buttononpeer {
background: #4162a8;
top: 50%;
float: none!important;
border-top: 1px solid #38538c;
border-right: 1px solid #1f2d4d;
border-bottom: 1px solid #151e33;
border-left: 1px solid #1f2d4d;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
color: #fff;
font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
margin-bottom: 10px;
/* padding: 10px 0 12px 0; */
text-align: center;
text-shadow: 0 -1px 1px #1e2d4d;
width: 150px;
-webkit-background-clip: padding-box;
z-index: 1;
position: absolute;
width: 150px;
height: 50px!important;
left: 43%;
clear: both;
}
.buttononpeer:after {
content: '再來一發';
line-height: 2.3;
cursor: hand;
}
.buttononpeer:hover{
 -webkit-box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer;
}
.buttononpeer:active{
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;

};