<html ng-app="lifeTrue">
	<head>
		<title>Demo</title>
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
		<style>
			.modal-backdrop{
				width: 100%;
				height: 100%;
			}
		</style>
	</head>
	<body ng-controller="baseCtrl">
		<h1>Demo</h1>
		<div id="info">
			<div>
				<span>你的ID:</span> 
				<span id="myId">{{myId}}</span>	
			</div>	
			<div>
				<span>對方ID:</span>
				<input type="text" id="theirId" ng-model="theirId" />
			</div>
			<button id="btn-connect" type="button" ng-click="tryConnect(theirId)">連線!</button>
		</div>

		<div>
			<video id="my-video" autoplay style="width: 45%;transform: rotateY(180deg);"></video>
			<video id="their-video" autoplay style="width: 45%;transform: rotateY(180deg);"></video>
		</div>

		<div ng-controller="ModalDemoCtrl">
	    <script type="text/ng-template" id="myModalContent.html">
		    <form class="form-signin">
	        <div class="modal-header">
	            <h3 class="modal-title">{{body.title}}</h3>
	        </div>
	        <div class="modal-body">
	        	<div>
		          <label for="inputEmail" class="sr-only">Email address</label>
			        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
			      </div>
			      <div>
			        <label for="inputPassword" class="sr-only">Password</label>
			        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
	        	</div>
	        </div>
	        <div class="modal-footer">
	        	<button class="btn btn-success" type="submit">登入</button>
	        	<button class="btn btn-info" type="submit">註冊</button>
	          <!--<button class="btn btn-primary" ng-click="ok()">OK</button>
	          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
	        </div>
	      </form>
	    </script>

	    <button class="btn btn-default" ng-click="open()">登入</button>
	    <button class="btn btn-default" ng-click="open('signUp')">註冊</button>
		</div>
	</body>
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
	<script src="/angular/angular.js"></script>
	<script src="/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="/app.js"></script>
</html>



